
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>product-management-app</display-name>
	<filter>
		<description>
		</description>
		<display-name>filter1</display-name>
		<filter-name>filter1</filter-name>
		<filter-class>com.sapient.web.filter1</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>filter2</display-name>
		<filter-name>filter2</filter-name>
		<filter-class>com.sapient.web.filter2</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filter1</filter-name>
		<url-pattern>/filter1</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>filter2</filter-name>
		<url-pattern>/filter2</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.sapient.web.listener1</listener-class>
	</listener>
	<servlet>
		<description>
		</description>
		<display-name>AllProductsServlet</display-name>
		<servlet-name>AllProductsServlet</servlet-name>
		<servlet-class>com.sapient.web.AllProductsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.sapient.web.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteServlet</display-name>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>com.sapient.web.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteServlett</display-name>
		<servlet-name>DeleteServlett</servlet-name>
		<servlet-class>com.sapient.web.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>getProductServlet</display-name>
		<servlet-name>getProductServlet</servlet-name>
		<servlet-class>com.sapient.web.getProductServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditServlet</display-name>
		<servlet-name>EditServlet</servlet-name>
		<servlet-class>com.sapient.web.EditServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>valuesModified</display-name>
		<servlet-name>valuesModified</servlet-name>
		<servlet-class>com.sapient.web.valuesModified</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>sample</display-name>
		<servlet-name>sample</servlet-name>
		<servlet-class>com.sapient.web.sample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllProductsServlet</servlet-name>
		<url-pattern>/AllProductsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlett</servlet-name>
		<url-pattern>/delete-product</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getProductServlet</servlet-name>
		<url-pattern>/getProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditServlet</servlet-name>
		<url-pattern>/modify-product</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>valuesModified</servlet-name>
		<url-pattern>/valuesModified</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sample</servlet-name>
		<url-pattern>/sample-1</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
